In [1]:
import numpy as np
from statsmodels.datasets import grunfeld
from linearmodels import PanelOLS

In [2]:
import pandas.stats

In [3]:
data = grunfeld.load_pandas().data
data.year = data.year.astype(np.int64)
# MultiIndex, entity - time
data = data.set_index(['firm','year'])
data.head()

                        invest   value  capital
firm              year
b'General Motors' 1935   317.6  3078.5      2.8
                  1936   391.8  4661.7     52.6
                  1937   410.6  5387.1    156.9
                  1938   257.7  2792.2    209.2
                  1939   330.8  4313.2    203.4

In [57]:
mod = PanelOLS(data.invest, data[['value','capital']])
res = mod.fit()
res

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 invest   R-squared:                        0.8577
Estimator:                   PanelOLS   R-squared (Between):              0.8914
No. Observations:                 220   R-squared (Within):               0.6868
Date:                Mon, Mar 05 2018   R-squared (Overall):              0.8577
Time:                        10:23:00   Log-likelihood                   -1311.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      656.92
Entities:                          11   P-value                           0.0000
Avg Obs:                       20.000   Distribution:                   F(2,218)
Min Obs:                       20.000
Max Obs:                       20.000   F-statistic (robust):             656.92
                                        P-value                           0.0000
Time periods:                      20   Distribution:                   F(2,218)
Avg Obs:                       11.000
Min Obs:                       11.000
Max Obs:                       11.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
value          0.1078     0.0056     19.409     0.0000      0.0968      0.1187
capital        0.1824     0.0231     7.8938     0.0000      0.1368      0.2279
==============================================================================


PanelEffectsResults, id: 0x7fafcf03f828

In [58]:
mod.entity_effects

False

In [59]:
mod.has_constant

False

In [60]:
res.estimated_effects

                        estimated_effects
entity            time
b'General Motors' 1935                0.0
                  1936                0.0
                  1937                0.0
                  1938                0.0
                  1939                0.0
                  1940                0.0
                  1941                0.0
                  1942                0.0
                  1943                0.0
                  1944                0.0
                  1945                0.0
                  1946                0.0
                  1947                0.0
                  1948                0.0
                  1949                0.0
                  1950                0.0
                  1951                0.0
                  1952                0.0
                  1953                0.0
                  1954                0.0
b'US Steel'       1935                0.0
                  1936                0.0
                  1937                0.0
                  1938                0.0
                  1939                0.0
                  1940                0.0
                  1941                0.0
                  1942                0.0
                  1943                0.0
                  1944                0.0
...                                   ...
b'Diamond Match'  1945                0.0
                  1946                0.0
                  1947                0.0
                  1948                0.0
                  1949                0.0
                  1950                0.0
                  1951                0.0
                  1952                0.0
                  1953                0.0
                  1954                0.0
b'American Steel' 1935                0.0
                  1936                0.0
                  1937                0.0
                  1938                0.0
                  1939                0.0
                  1940                0.0
                  1941                0.0
                  1942                0.0
                  1943                0.0
                  1944                0.0
                  1945                0.0
                  1946                0.0
                  1947                0.0
                  1948                0.0
                  1949                0.0
                  1950                0.0
                  1951                0.0
                  1952                0.0
                  1953                0.0
                  1954                0.0

[220 rows x 1 columns]

In [61]:
0.1078*3078.5+2.8*0.1824

332.37302

In [62]:
res.fitted_values

                        fitted_values
entity            time
b'General Motors' 1935     332.237188
                  1936     511.918627
                  1937     609.106519
                  1938     339.028972
                  1939     501.867918
                  1940     538.195821
                  1941     536.960871
                  1942     404.958346
                  1943     484.975453
                  1944     508.662307
                  1945     569.965035
                  1946     601.452304
                  1947     518.880104
                  1948     518.936264
                  1949     584.759601
                  1950     605.118703
                  1951     741.039123
                  1952     791.575146
                  1953     996.715929
                  1954    1008.765919
b'US Steel'       1935     156.618438
                  1936     203.935648
                  1937     309.925658
                  1938     241.619454
                  1939     267.939433
                  1940     283.735317
                  1941     304.185868
                  1942     288.154998
                  1943     268.947155
                  1944     246.359421
...                               ...
b'Diamond Match'  1945       7.699389
                  1946       8.082418
                  1947       7.712165
                  1948       8.308581
                  1949       9.024285
                  1950       9.034507
                  1951      10.602195
                  1952       9.830183
                  1953       8.973723
                  1954       8.876213
b'American Steel' 1935      12.748810
                  1936      14.379664
                  1937      21.471317
                  1938      18.252203
                  1939      20.314257
                  1940      18.803671
                  1941      18.036794
                  1942      17.144870
                  1943      20.494049
                  1944      19.377763
                  1945      18.984147
                  1946      20.188432
                  1947      18.184660
                  1948      17.406174
                  1949      17.770268
                  1950      17.765076
                  1951      19.075451
                  1952      20.548830
                  1953      20.818855
                  1954      20.363183

[220 rows x 1 columns]

In [43]:
Y = data.invest
X = np.matrix([[1 for i in data.value], data.value, data.capital]).T

In [48]:
par = np.dot(np.dot(np.dot(X.T, X)**(-1), X.T), Y)

In [51]:
X*par.T

matrix([[  3.14821022e+02],
        [  5.07482029e+02],
        [  6.14294979e+02],
        [  3.28988749e+02],
        [  5.01875934e+02],
        [  5.40617001e+02],
        [  5.40920344e+02],
        [  4.02246913e+02],
        [  4.85964374e+02],
        [  5.09037130e+02],
        [  5.76330587e+02],
        [  6.14417587e+02],
        [  5.38747384e+02],
        [  5.44223967e+02],
        [  6.17477155e+02],
        [  6.41773224e+02],
        [  7.89903332e+02],
        [  8.51119187e+02],
        [  1.08083993e+03],
        [  1.10876406e+03],
        [  1.29871822e+02],
        [  1.80054457e+02],
        [  2.94987680e+02],
        [  2.27168590e+02],
        [  2.56911722e+02],
        [  2.71731785e+02],
        [  2.93711190e+02],
        [  2.77927635e+02],
        [  2.57615873e+02],
        [  2.32843020e+02],
        [  2.22143944e+02],
        [  2.28581021e+02],
        [  2.27619576e+02],
        [  2.17623999e+02],
        [  2.32398939e+02],
        [  2.35114441e+02],
        [  3.01648952e+02],
        [  3.09977224e+02],
        [  3.36121406e+02],
        [  3.56253601e+02],
        [  1.17914753e+02],
        [  2.16220790e+02],
        [  3.09510793e+02],
        [  2.30743393e+02],
        [  2.59271314e+02],
        [  2.48254251e+02],
        [  2.21915292e+02],
        [  2.08949080e+02],
        [  2.34738129e+02],
        [  2.27932612e+02],
        [  2.64254101e+02],
        [  2.93236067e+02],
        [  2.55176472e+02],
        [  2.68980054e+02],
        [  2.66252231e+02],
        [  2.93340183e+02],
        [  3.22703999e+02],
        [  3.64985067e+02],
        [  4.15299196e+02],
        [  4.79930641e+02],
        [  1.17969409e+01],
        [  5.98674794e+01],
        [  7.07216096e+01],
        [  2.35297753e+01],
        [  5.40681108e+01],
        [  6.02142532e+01],
        [  5.24133243e+01],
        [  2.48966243e+01],
        [  4.42481630e+01],
        [  5.53453497e+01],
        [  7.09541021e+01],
        [  8.32539575e+01],
        [  4.99287095e+01],
        [  6.62175712e+01],
        [  6.27351626e+01],
        [  7.81498321e+01],
        [  1.00547370e+02],
        [  1.10972033e+02],
        [  1.55038749e+02],
        [  1.36526121e+02],
        [  2.13326029e+01],
        [  2.72331472e+01],
        [  3.73769583e+01],
        [  4.59033511e+01],
        [  5.70216371e+01],
        [  6.11009295e+01],
        [  6.81079488e+01],
        [  7.59379597e+01],
        [  7.59650677e+01],
        [  9.00196850e+01],
        [  9.97555252e+01],
        [  1.09894051e+02],
        [  1.19018506e+02],
        [  1.22742069e+02],
        [  1.32421369e+02],
        [  1.39772252e+02],
        [  1.54673953e+02],
        [  1.68679648e+02],
        [  1.83384624e+02],
        [  1.86601282e+02],
        [ -1.43679427e+01],
        [ -1.07287543e+01],
        [ -6.55529632e+00],
        [ -4.67190380e+00],
        [  5.44977408e+00],
        [  7.66567778e+00],
        [  7.29662985e+00],
        [  1.11269005e+01],
        [  1.59844554e+01],
        [  2.04884541e+01],
        [  1.97444472e+01],
        [  2.90531371e+01],
        [  3.35963191e+01],
        [  3.74427070e+01],
        [  5.07862748e+01],
        [  7.61665221e+01],
        [  7.94337594e+01],
        [  8.74958940e+01],
        [  1.00592201e+02],
        [  1.22105283e+02],
        [  1.92603489e-01],
        [  1.29475377e+01],
        [  1.80516272e+01],
        [  1.76154675e+01],
        [  2.44299042e+01],
        [  2.89217807e+01],
        [  3.16137576e+01],
        [  3.56879199e+01],
        [  4.23737766e+01],
        [  4.75229025e+01],
        [  5.25687919e+01],
        [  5.94404416e+01],
        [  6.02646263e+01],
        [  6.49703328e+01],
        [  6.95591730e+01],
        [  7.54337012e+01],
        [  8.46094620e+01],
        [  8.82148613e+01],
        [  9.36023329e+01],
        [  9.99886902e+01],
        [ -1.60671980e+01],
        [  2.08716886e+01],
        [  4.67691012e+01],
        [  2.98930087e+01],
        [  2.64829433e+01],
        [  3.96039175e+01],
        [  3.13423637e+01],
        [  3.96994894e+01],
        [  5.14827471e+01],
        [  5.41179196e+01],
        [  6.70469836e+01],
        [  6.82595439e+01],
        [  5.34570440e+01],
        [  6.71593994e+01],
        [  6.07166101e+01],
        [  6.54433544e+01],
        [  7.39985000e+01],
        [  9.36623944e+01],
        [  1.38056177e+02],
        [  1.46334116e+02],
        [  3.17309202e+01],
        [  3.45183569e+01],
        [  4.15940426e+01],
        [  3.48131962e+01],
        [  4.97100242e+01],
        [  4.55176544e+01],
        [  4.55463676e+01],
        [  4.24436288e+01],
        [  6.38096816e+01],
        [  6.86076881e+01],
        [  7.78321150e+01],
        [  7.00884496e+01],
        [  7.07847304e+01],
        [  7.73071298e+01],
        [  7.74847376e+01],
        [  7.85863933e+01],
        [  8.94781991e+01],
        [  1.10161710e+02],
        [  1.19187748e+02],
        [  1.22413112e+02],
        [ -2.92646087e+01],
        [ -2.72663106e+01],
        [ -2.79555898e+01],
        [ -3.06471318e+01],
        [ -2.81889445e+01],
        [ -2.75484331e+01],
        [ -2.85756665e+01],
        [ -3.04192189e+01],
        [ -3.04669347e+01],
        [ -3.05537165e+01],
        [ -3.01148944e+01],
        [ -2.97104638e+01],
        [ -3.00814513e+01],
        [ -2.93976913e+01],
        [ -2.85692966e+01],
        [ -2.85129828e+01],
        [ -2.68355674e+01],
        [ -2.76271914e+01],
        [ -2.84786116e+01],
        [ -2.84930394e+01],
        [ -2.31082582e+01],
        [ -2.13447849e+01],
        [ -1.37532941e+01],
        [ -1.69990712e+01],
        [ -1.47420904e+01],
        [ -1.63280393e+01],
        [ -1.71055186e+01],
        [ -1.80030511e+01],
        [ -1.43390932e+01],
        [ -1.54704888e+01],
        [ -1.59038806e+01],
        [ -1.45859646e+01],
        [ -1.66894586e+01],
        [ -1.75015305e+01],
        [ -1.70364610e+01],
        [ -1.69739731e+01],
        [ -1.55299961e+01],
        [ -1.39213789e+01],
        [ -1.35810401e+01],
        [ -1.39450872e+01]])

In [47]:
Y

firm               year
b'General Motors'  1935     317.600
                   1936     391.800
                   1937     410.600
                   1938     257.700
                   1939     330.800
                   1940     461.200
                   1941     512.000
                   1942     448.000
                   1943     499.600
                   1944     547.500
                   1945     561.200
                   1946     688.100
                   1947     568.900
                   1948     529.200
                   1949     555.100
                   1950     642.900
                   1951     755.900
                   1952     891.200
                   1953    1304.400
                   1954    1486.700
b'US Steel'        1935     209.900
                   1936     355.300
                   1937     469.900
                   1938     262.300
                   1939     230.400
                   1940     361.600
                   1941     472.800
                   1942     445.600
                   1943     361.600
                   1944     288.200
                             ...
b'Diamond Match'   1945       1.360
                   1946       2.240
                   1947       3.810
                   1948       5.660
                   1949       4.210
                   1950       3.420
                   1951       4.670
                   1952       6.000
                   1953       6.530
                   1954       5.120
b'American Steel'  1935       2.938
                   1936       5.643
                   1937      10.233
                   1938       4.046
                   1939       3.326
                   1940       4.680
                   1941       5.732
                   1942      12.117
                   1943      15.276
                   1944       9.275
                   1945       9.577
                   1946       3.956
                   1947       3.834
                   1948       5.970
                   1949       6.433
                   1950       4.770
                   1951       6.532
                   1952       7.329
                   1953       9.020
                   1954       6.281
Name: invest, Length: 220, dtype: float64

In [11]:
from sklearn.metrics import r2_score

In [19]:
r2_score(data.invest, res.fitted_values.fitted_values)

0.78696245425241218

In [26]:
R2 = []
for firm in data.index.levels[0].tolist():
    R2.append(r2_score(data.loc[firm]["invest"], res.fitted_values.loc[firm]["fitted_values"]))

In [28]:
np.mean(R2)

-10.326713891233847

In [34]:
R2

[-21.773047190132171,
 -28.301450559752347,
 0.60961439415941898,
 -14.616550279686427,
 -19.556031487503741,
 0.8062709533972674,
 -18.159090403877101,
 0.71092729306052738,
 -0.54139102255323235,
 -4.1775653177631096,
 -8.5955391829213994]

In [ ]:
R2 = 1 - sum(np.subtract(Y, Y_hat)**2) / sum((Y - Y_mean)**2)

In [39]:
R2 = []
for firm in data.index.levels[0].tolist():
    Y = data.loc[firm]["invest"].values
    Y_mean = np.mean(data.loc[firm]["invest"].values)
    Y_hat = res.fitted_values.loc[firm]["fitted_values"].values
    temp = 1 - sum(np.subtract(Y, Y_hat)**2) / sum((Y - Y_mean)**2)
    R2.append(temp)

In [41]:
Y

array([ 12.93,  25.9 ,  35.05,  22.89,  18.84,  28.57,  48.51,  43.34,
        37.02,  37.81,  39.27,  53.46,  55.56,  49.56,  32.04,  32.24,
        54.38,  71.78,  90.08,  68.6 ])

In [42]:
Y_hat

array([  22.56258488,   59.91789006,   86.00965436,   68.80639388,
         65.28693791,   78.51097778,   70.02961893,   78.14910131,
         89.74546641,   92.31849587,  105.37259238,  106.68393262,
         91.38440424,  104.97561199,   98.31281207,  103.15930338,
        111.90136648,  131.56861952,  176.05514093,  183.90609627])